.responsive-three-columns {
    display:flex;
    flex-wrap:wrap;
    margin:10%
}

.responsive-three-columns * > {
    width:100%;
}

.responsive-three-columns * > img {
    width:90%;
    height:auto;
    padding:5%
}

@media (min-width:1000px) {
    .responsive-three-columns > * {
        width:calc(100% / 3);
    }
}
