.flexbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image {
    width:33px;
    height:auto;
}

.flexbox-item {
    margin:5px;
}
